<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="addr" value="net.tcp://localhost:22222/BioScadaServer" />
    <add key="addrHttp" value="http://localhost:22223/BioScadaServer" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="PortName" value="COM3"/>
    <add key="Example" value="Example"/>
    <add key="File" value="Exp1"/>
    <add key="ConnectionBD" value="Data Source=guille\sqlexpress;Initial Catalog=SCADALog;Integrated Security=True;Pooling=False"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="BioScadaServer.ServerService">
        <endpoint address="net.tcp://localhost:22222/BioScadaServer" binding="netTcpBinding" bindingConfiguration="DuplexBinding" contract="BioScadaServer.IServer" />
        <endpoint address="http://localhost:22223/BioScadaServer"
                  binding="wsHttpBinding"
                  bindingConfiguration="DuplexBinding"
                  contract="BioScadaServer.IServer" />
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="DuplexBinding" sendTimeout="00:00:05">
          <reliableSession enabled="true" inactivityTimeout="00:00:10" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="DuplexBinding" sendTimeout="00:00:05">
          <reliableSession enabled="true" inactivityTimeout="00:00:10" />
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>