<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BDConnection" value="Data Source=guille\sqlexpress;Initial Catalog=SCADALog;Integrated Security=True;Pooling=False" />        
    <add key="PortName" value="COM3"/>
    <add key="B_rate" value="9600"/>
    <add key="Data_Bit" value="8"/>   
    <add key="Example" value="Example"/>
  </appSettings>  
</configuration>